PySimpleGUI~=4.60.4
keyboard~=0.13.5
PyAutoGUI~=0.9.53
setuptools~=65.5.0
a2s~=1.0.1
psutil~=5.9.3
opencv-python~=4.6.0.66
numpy~=1.23.4
lazy_loader==0.3
easyocr~=1.4
scikit-image==0.18.3
pytesseract
torch~=2.0.1